<h3>Utility Payment Service</h3>
<div class="main-center">
  <form class="form-horizontal" method="post" (ngSubmit)="sendSubmit()">

    <label for="firstName" class="cols-sm-2 control-label">Utility Provider Name</label>
    <input type="text" class="form-control" value="{{userList?.first_name}}" id="firstName" readonly/>

    <label for="lastName" class="cols-sm-2 control-label">Bill No / Tel Number</label>
    <input type="text" class="form-control" value="{{userList?.last_name}}" id="lastName"/>

    <label for="phone" class="cols-sm-2 control-label">Ammount</label>
    <input type="text" class="form-control" value="{{userList?.national_id}}" id="phone"/>

    <label for="email" class="cols-sm-2 control-label">Remark</label>
    <input type="text" class="form-control" value="{{userList?.email}}" id="email"/>
    <br/><br/>
    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Sign up!</button>
    <hr/>
  </form>
</div>
