<br/><br/>
<h3>Currency Converter</h3>
<div class="main-center" style="border: medium solid #8a6d3b; padding: 10px">
    <form class="form-horizontal" method="post" (ngSubmit)="getCurrency()">
        <br/>

        <table style="width:40%">
            <tr class="row2">
                <th>From</th>
                <th><select  name="base" [(ngModel)]="from">
                    <option value="USD">USD</option>
                </select>
                </th>
                <th><input name="baseamt" type="text" [(ngModel)]="fromamount"></th>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <th>To</th>
                <th><select  name="to" [(ngModel)]="to">
                    <option value="LKR">LKR</option>
                    <option value="AUD">AUD</option>
                    <option value="CAD">CAD</option>
                    <option value="PLN">PLN</option>
                    <option value="MXN">MXN</option>
                    <option value="EUR">EUR</option>
                </select>
                </th>
            </tr>
            <tr>
                <td style="font-weight:bold">Amount</td>
                <td>{{currency?.toamount}}</td>
            </tr>
        </table>
        <br/>
        <br/>
        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Convert Currency</button>
        <hr/>
    </form>
</div>



