<div [style.display]="getDisplay()">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">Sign Up</h1>
        <hr/>
      </div>
    </div>
    <div class="main-login main-center">
      <form class="form-horizontal" method="post" (ngSubmit)="sendSubmit()">

        <label for="firstName" class="cols-sm-2 control-label">First Name</label>
        <input type="text" class="form-control" value="{{userList?.first_name}}" id="firstName" readonly/>

        <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
        <input type="text" class="form-control" value="{{userList?.last_name}}" id="lastName" readonly/>

        <label for="phone" class="cols-sm-2 control-label">National ID Number</label>
        <input type="text" class="form-control" value="{{userList?.national_id}}" id="phone" readonly/>

        <label for="email" class="cols-sm-2 control-label">Email</label>
        <input type="text" class="form-control" value="{{userList?.email}}" id="email" readonly/>

        <label for="email" class="cols-sm-2 control-label">Birth Day</label>
        <input type="text" class="form-control" value="{{userList?.birth_date}}" id="birthday" readonly/>

        <label class="cols-sm-2 control-label">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="username"
               placeholder="Enter your Username" required="required"/>

        <label class="cols-sm-2 control-label">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password"
               roleId="password" placeholder="Enter your Password" required="required"/>
        <br/><br/>
        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Sign up!</button>
        <hr/>
        <div class="form-group ">
          <a class="btn btn-info btn-lg btn-block login-button">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
