<br/><br/>
<div style="border: medium solid #8a6d3b; padding: 10px">
<h3>Pay Orders List</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>From Account</th>
    <th>To Account</th>
    <th>Frequency</th>
    <th>Day</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of payorderList">
    <td>{{order?.acc_number}}</td>
    <td>{{order?.to_acc_number}}</td>
    <td>{{order?.frequency}}</td>
    <td>{{order?.transaction_date}}</td>
    <td>{{order?.transaction_amount}}</td>
  </tr>
  </tbody>
</table>
</div>
<br/><br/>
<h3>Add a Pay Order</h3>
<div class="main-center" style="border: medium solid #8a6d3b; padding: 10px">
  <form class="form-horizontal" method="post" (ngSubmit)="addPayOrder()">
    <br/>
    <label for="account" class="cols-sm-2 control-label">From Account </label>
    <!--<input type="text" class="form-control" value="{{userList?.first_name}}" id="firstName" readonly/>-->
    <br/>
    <select id="account" [(ngModel)]="account" name="account" >
      <option *ngFor="let acc of savingsAccList" value="{{acc?.acc_number}}">{{acc?.acc_number}}</option>
    </select>
    <br/><br/>
    <label for="toacc" class="cols-sm-2 control-label">To Account</label>
    <input name="toacc"  type="text" class="form-control" id="toacc" [(ngModel)]="toacc" required="required"/>
    <br/>
    <label class="cols-sm-2 control-label">Frequency</label>
    <!--<input type="text" class="form-control" value="{{userList?.first_name}}" id="firstName" readonly/>-->
    <br/>
    <select  name="frequency" [(ngModel)]="frequency">
      <option value="annually">Yearly</option>
      <option value="quarterly">Quarterly</option>
      <option value="monthly">Monthly</option>
    </select>
    <br/>
    <br/>
    <label for="day" class="cols-sm-2 control-label">Day</label>
    <br/>
    <select name="day"  id="day" [(ngModel)]="day">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
    </select>
    <br/><br/>
    <label for="ammount" class="cols-sm-2 control-label" required="required">Ammount</label>
    <input name="ammount" type="text" class="form-control" id="ammount" [(ngModel)]="ammount" required="required"/>
    <br/>
    <label for="email" class="cols-sm-2 control-label">Remark</label>
    <input type="text" class="form-control" id="email"/>
    <br/><br/>
    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Add Pay Order</button>
    <hr/>
  </form>
</div>



