<h3>Account History Page</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th>From Acc Number</th>
    <th>Transaction Type</th>
    <th>Date</th>
    <th>Amount</th>
    <th>To Account</th>
    <th>Currency</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of accountTransactionList">
    <td>{{transaction?.From_Account_No}}</td>
    <td>{{transaction?.account_name}}</td>
    <td>{{transaction?.Transaction_Date}}</td>
    <td>{{transaction?.Amount_Transferred}}</td>
    <td>{{transaction?.Beneficiary_Acc_No}}</td>
    <td>{{transaction?.Currency}}</td>
    <!--<td [hidden]="appointment.confirmed"><a (click)="confirmAppointment(appointment.id)" style="cursor: pointer;">View History</a></td>-->
    <!-- <td [hidden]="!user.enabled"><a (click)="disableUser(user.username)" style="cursor: pointer;">Disable</a></td> -->
  </tr>
  </tbody>
</table>
